@import url('./output.css');
@import url('./croppie.css');
@import url('./index.css');
@import url('./profile-list.css');
@import url('./nippou-list.css');

body {
    font-family: 'ピラギノ角ゴ';
}

a {
    text-decoration: none;
    color: black;
}